@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #121212;
  --text-color: white;
  --primary-color: #1e90ff;
  --secondary-color: #007bff;
  --card-background-color: #1e1e1e;
}

.light-theme {
  --background-color: white;
  --text-color: black;
  --primary-color: #007bff;
  --secondary-color: #1e90ff;
  --card-background-color: #e6e6e6;
}

.control-button {
  background-color: transparent;
  border: var(--text-color) solid 2px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  transition: transform 0.3s ease;
  padding: 8px;
  overflow: hidden;
}

.control-button img {
  width: 20px;
  height: 20px;
  position: absolute;
  transition: all 0.5s ease;
}

.control-button:hover {
  transform: scale(1.1);
}

#theme-toggle {
  right: 20px;
}

#animation-toggle {
  right: 90px;
}

@keyframes icon-rise {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes icon-set {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(50%, 50%);
    opacity: 0;
  }
}

#moon-icon {
  transform: translate(-50%, 50%);
  opacity: 0;
  animation: none;
}

#sun-icon {
  transform: translate(0, 0);
  opacity: 1;
  animation: none;
}

/* Theme toggle animations */
body.light-theme #moon-icon {
  animation: icon-rise 0.8s forwards;
}

body.light-theme #sun-icon {
  animation: icon-set 0.8s forwards;
}

body:not(.light-theme) #moon-icon {
  animation: icon-set 0.8s forwards;
}

body:not(.light-theme) #sun-icon {
  animation: icon-rise 0.8s forwards;
}

body.animation-paused #play-icon {
  animation: icon-rise 0.8s forwards;
}

body.animation-paused #pause-icon {
  animation: icon-set 0.8s forwards;
}

body:not(.animation-paused) #play-icon {
  animation: icon-set 0.8s forwards;
}

body:not(.animation-paused) #pause-icon {
  animation: icon-rise 0.8s forwards;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  padding-top: 225px;
  text-align: center;
}

.header h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.about {
  text-align: center;
  padding-top: 10px;
}

.content {
  display: flex;
  max-width: 600px;
  padding-top: 120px;
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects h3 {
  font-size: 26px;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.project h4 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: start;
  color: var(--text-color);
  font-weight: bold;
}

.divider {
  width: 75%;
  height: 1px;
  border-radius: 5px;
  background-color: var(--text-color);
  margin-bottom: 10px;
}

.project p {
  font-size: 14px;
  margin-top: 10px;
  text-align: start;
  color: var(--text-color);
}

.project a {
  color: var(--secondary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  transition: transform 0.3s ease;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
}

.project-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.project a:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .header h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.footer p {
  font-size: 16px;
  margin-top: 10px;
  text-align: start;
  color: var(--text-color);
}

.footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  margin-left: 8px;
  margin-right: 8px;
}

.social a:hover {
  transform: scale(1.1);
}

.social img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
